/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
main,html,body{
    height: 100%;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes fadeOut {
    0%{transform: translateY(0px); opacity: 1;}
    50%{transform: translateY(50px);; opacity: 0;}
    100%{transform: translateY(0px); opacity: 0;}

}


#word1{
    
    animation: fadeOut 5s forwards;
}  

